{% extends 'base.html.twig' %}

{% block title %}Créer une dette{% endblock %}

{% block body %}
    <h1 class="text-xl mb-6">Créer une Dette pour {{ client.surname }} {{ client.telephone }}</h1>

    {{ form_start(formArticleSelection) }}

    <div class="grid grid-cols-2 gap-4">
        {% for child in formArticleSelection %}
            {% if child.vars.name != 'submit' %}
                <div>
                    {{ form_widget(child) }}
                    {{ child.vars.label }}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="flex justify-center mt-6">
        {{ form_widget(formArticleSelection.submit, {
            'attr': {
                'class': 'bg-burgundy text-white font-bold px-4 py-2 rounded hover:bg-red-700 transition duration-200'
            }
        }) }}
    </div>

    {{ form_end(formArticleSelection) }}
{% endblock %}
