{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <div class="flex">
        <!-- Liste des articles -->
        <div class="w-full p-6">
            
            <h1 class="text-xl mb-6 text-black font-bold">Liste des Articles</h1>
            
            <div class="flex justify-between mb-2">       
                {{ form_start(formSearch )}}
                <div class ='mb-1 text-red-600' >

                {{ form_errors(formSearch.libelle) }}
                </div>

                <div class ='mb-4 flex items-center'>
                    {{ form_widget(formSearch.libelle , {'attr': {
                        'class':'border border-gray-300 p-2 rounded-l-md h-10',
                        'value':libelle
                    }}) }}
                    {{ form_widget(formSearch.rechercher)}}
                </div>
                    
                {{ form_end(formSearch )}}

                <a href="{{ path('article.store') }}" class="bg-burgundy text-white text-sm px-3 rounded-md h-10 flex items-center hover:bg-red-700">+Add article</a>
            </div>


            <table class="min-w-full bg-white border border-gray-300 rounded-lg">
                <thead>
                     <tr class="bg-burgundy">
                    <th class="py-2 px-4 border-b text-left text-white">Reference</th>
                    <th class="py-2 px-4 border-b text-left text-white">Libelle</th>
                    <th class="py-2 px-4 border-b text-left text-white">qteStock</th>
                    <th class="py-2 px-4 border-b text-left text-white">Prix</th>
                    <th class="py-2 px-4 border-b text-left text-white">Etat</th>
                    <th class="py-2 px-4 border-b  text-white">Actions</th>
  
                </tr>
                </thead>
                <tbody>
                {% for article in datas %}
                    <tr class="bg-nude hover:bg-gray-100">
                        <td class="py-2 px-4 border-b">{{ article.reference }}</td>
                        <td class="py-2 px-4 border-b">{{ article.libelle }}</td>
                        <td class="py-2 px-4 border-b">{{ article.qteStock }}</td>
                        <td class="py-2 px-4 border-b">{{ article.prix }}</td>
                        <td class="py-2 px-4 border-b">{{ article.etat.value }}</td>
                        <td class="py-2 px-4 border-b text-center flex items-center justify-center space-x-2">
                         <!-- Icône info -->
                                <a href="" class="text-red-500 hover:text-grey-700" title="Détails">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 0 1 .67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 1 1-.671-1.34l.041-.022ZM12 9a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd"/>
                                    </svg>
                                </a>

                                <!-- Icône poubelle -->
                                <a href="" class="text-grey-500 hover:text-red-600" title="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce article ?');">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                        <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd"/>
                                    </svg>
                                </a>
                                <a href="{{ path('article.showArticleById', { 'id': article.id })  }}" class="bg-burgundy text-white text-sm px-4 rounded-md h-6 flex items-center hover:bg-red-700">update</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="py-2 px-4 text-center">Aucun article trouvé.</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>

            <!-- Pagination -->
            <div class="mt-4">
                {% if totalPages > 1 %}
                    <nav aria-label="Pagination" class="flex justify-center">
                        <a href="{{ path('article.index', { page: page - 1 }) }}" class="px-3 py-1 bg-burgundy text-white rounded hover:bg-gray-300">&laquo;</a>
                        {% for i in 1..totalPages %}
                            <a href="{{ path('article.index', { page: i }) }}" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300 {% if i == page %} bg-gray-400 {% endif %}">
                                {{ i }}
                            </a>
                        {% endfor %}
                        <a href="{{ path('article.index', { page: page + 1 }) }}" class="px-3 py-1 bg-burgundy text-white rounded hover:bg-gray-300">&raquo;</a>
                    </nav>
                {% endif %}
            </div>      
        </div>
    </div>
{% endblock %}
